# -------------------------------------------------
# This workflow runs Parasoft Jtest analysis with selected build tool (maven, gradle, etc)
# For details on how to configure your project with Jtest please refer to the Jtest examples README file
# -------------------------------------------------
# Prerequisites:
# 1. Set up the Jtest license and other settings in jtestcli.properties in the Jtest installation directory
# 2. Include 'sarif' value for report.format key in the settings (e.g. report.format=html,pdf,sarif)
name: Parasoft Jtest - locally configured

# Define when the action will run. 
on:
  
  # Triggers the workflow on push, pull request, or other events
  # push:
  #   branches: [ main ]
  # pull_request:
  #   branches: [ main ]

  # Allows to run workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: self-hosted

    # prepare environment
    steps:
      #####  default gradle build
      - name: Build with Gradle
        working-directory: jtest-demo
        run: ./gradlew clean build

      ##### updated gradle build with separated jtestcli
      - name: Build with Gradle with jtest plugin
        working-directory: jtest-demo
        run: ./gradlew clean build jtest -I ${{secrets.JTEST_INIT}} "-Djtest.skip=true"

      - name: Run Jtest
        id: jtest
        uses: lukasbasiura/run-jjtest-action@1.0.0
        with:
            installDir: C:/Users/lukabass/jtest  # optional (path)
            input: build/jtest/jtest.data.json  #required (build system dependent) probably can be detected
            testConfig: "builtin://Recommended Rules" # optonal but practically always used 

      - name: Upload results to GitHub
        uses: github/codeql-action/upload-sarif@v1
        with:
          sarif_file: ${{ steps.jtest.outputs.report }}
